*
!.gitattributes
!.gitignore
!readme.md
!*/
!Mods/*
!Mods/*/*
!Mods/*/*/*
!UE4SS-settings.ini
!package.json
!xinput1_3.dll
!UE4SS.log
!ue4ss.dll
!imgui.ini
!breedlist.json
!Mappings.usmap
!codename_paldekname.json
